<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
</head>
<body>
<span style="font-size:18px;"><strong><body>
	<h1>Login page</h1>
    <form action="/login" th:action="@{/login}" name="loginfrom" accept-charset="utf-8" method="post">  
        <label class="label-tips" for="username">账号:</label>  
        <input type="text" id="username" name="username" class="inputstyle" autofocus="autofocus"/>  
        <div>  
            <label class="lable-tips" for="password">密码:</label>  
            <input type="password" id="password" name="password" class="inputstyle" />  
        </div>  
        <input type="submit" value="登录"/>  
        <a href="register.html" class="zcxy" target="_blank">注册</a>  
    </form>
</body></strong></span>  
</body>
</html>

