<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>User Details</title>
</head>
<body>
<div>
Hello <b th:text="${loginname}"> </b>!
</div> <br/><br/><br/>

<label>Your borrowed books:</label><br/><br/>
<table border="1" cellspacing="0" cellpadding="0">
    <tr>
    	<th>书名</th>
    	<th>是否需要还书？</th>
    </tr>
	<tr th:each="book : ${userBooks}">
	    <td th:text="${book.name}">BookName</td>
	    <td><form method="POST" th:action="@{/returnbook(bookid=${book.id})}">
        <button type="submit">还书</button></form> </td>
	</tr>
   </table>
   <br/>
   <br/>
   <form method="get" th:action="@{/booklist}">
      <button type="submit">继续借书》》</button></form> 
</body>
</html>

